@model ninja.ViewModels.InvoiceDetailViewModel

@{
    ViewBag.Title = "Create";
}

<style>
	.form-horizontal .control-label {
		text-align: left;
	}
</style>

<h2>Create Detail</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
	<h4>Invoice Detail</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<div class="form-group">
		@Html.LabelFor(model => model.InvoiceId, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@((long)ViewBag.InvoiceId)
			@Html.Hidden("InvoiceId", (long)ViewBag.InvoiceId)
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-primary" />
		</div>
	</div>
</div>
}

<div>
	@Html.ActionLink("Back to Invoice Details", "Index", new { invoiceId = (long)ViewBag.InvoiceId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
