@model IEnumerable<ninja.ViewModels.InvoiceViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Invoices</h2>

<p>
    @Html.ActionLink("Create New Invoice", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Id)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Type)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.InvoiceTotalPriceWithTaxes)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Id)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Type)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.InvoiceTotalPriceWithTaxes)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
			@Html.ActionLink("Detail", "Details", new { id = item.Id }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
			@Html.ActionLink("Invoice Details", "Index", "InvoiceDetail", new { invoiceId = item.Id }, null)
		</td>
	</tr>
}

</table>
